In [62]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/coursera-course-dataset/coursea_data.csv

In [63]:
data = pd.read_csv('/kaggle/input/coursera-course-dataset/coursea_data.csv')
# Yüklediğimiz veriyi inceleyelim
data.head()

,Unnamed: 0,course_title,course_organization,course_Certificate_type,course_rating,course_difficulty,course_students_enrolled
0,134,(ISC)² Systems Security Certified Practitioner...,(ISC)²,SPECIALIZATION,4.7,Beginner,5.3k
1,743,A Crash Course in Causality: Inferring Causal...,University of Pennsylvania,COURSE,4.7,Intermediate,17k
2,874,A Crash Course in Data Science,Johns Hopkins University,COURSE,4.5,Mixed,130k
3,413,A Law Student's Toolkit,Yale University,COURSE,4.7,Mixed,91k
4,635,A Life of Happiness and Fulfillment,Indian School of Business,COURSE,4.8,Mixed,320k

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                891 non-null    int64
 1   course_title              891 non-null    object
 2   course_organization       891 non-null    object
 3   course_Certificate_type   891 non-null    object
 4   course_rating             891 non-null    float64
 5   course_difficulty         891 non-null    object
 6   course_students_enrolled  891 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 48.9+ KB

## Index kolonunu değiştirme
İlk yapacağımız işlen 'Unnamed: 0' kolonumuzun ismini değiştirmek olacak.

In [65]:
data = data.rename(columns = {'Unnamed: 0' : 'id'})
# Değişip değişmediğini kontrol edelim
data.head()

,id,course_title,course_organization,course_Certificate_type,course_rating,course_difficulty,course_students_enrolled
0,134,(ISC)² Systems Security Certified Practitioner...,(ISC)²,SPECIALIZATION,4.7,Beginner,5.3k
1,743,A Crash Course in Causality: Inferring Causal...,University of Pennsylvania,COURSE,4.7,Intermediate,17k
2,874,A Crash Course in Data Science,Johns Hopkins University,COURSE,4.5,Mixed,130k
3,413,A Law Student's Toolkit,Yale University,COURSE,4.7,Mixed,91k
4,635,A Life of Happiness and Fulfillment,Indian School of Business,COURSE,4.8,Mixed,320k

Elimizdeki **id** isimli kolonu **index** olarak kullanmak için:

In [67]:
# id kolonundaki sayılar düzensiz şekilde ilerlediği için  başka bir dataframe üzerinde örnek olarak index değişikliği yaptık.
data_ornek = data.set_index('id')
# Kontrol
data_ornek.head()

,id,course_title,course_organization,course_Certificate_type,course_rating,course_difficulty,course_students_enrolled
0,134,(ISC)² Systems Security Certified Practitioner...,(ISC)²,SPECIALIZATION,4.7,Beginner,5.3k
1,743,A Crash Course in Causality: Inferring Causal...,University of Pennsylvania,COURSE,4.7,Intermediate,17k
2,874,A Crash Course in Data Science,Johns Hopkins University,COURSE,4.5,Mixed,130k
3,413,A Law Student's Toolkit,Yale University,COURSE,4.7,Mixed,91k
4,635,A Life of Happiness and Fulfillment,Indian School of Business,COURSE,4.8,Mixed,320k

Index olarak kullandığımız kolonun adını değiştirelim.

In [88]:
data.index.name = 'index_name'

## Belirli verilere erişme
Sadece belirli kolonları çekmek istediğimizde:

In [68]:
data[['course_title','course_difficulty']].head()

                                        course_title course_difficulty
0  (ISC)² Systems Security Certified Practitioner...          Beginner
1  A Crash Course in Causality:  Inferring Causal...      Intermediate
2                     A Crash Course in Data Science             Mixed
3                            A Law Student's Toolkit             Mixed
4                A Life of Happiness and Fulfillment             Mixed

Bir hücredeki veriyi çekmek istediğimizde ise, aşağıdaki 2 yöntem de bize aynı sonucu verecektir.

In [69]:
# köşeli parentez ile
data['course_title'][1]

'A Crash Course in Causality:  Inferring Causal Effects from Observational Data'

In [70]:
# loc ile 
data.loc[1,['course_title']]

course_title    A Crash Course in Causality:  Inferring Causal...
Name: 1, dtype: object

## Slicing Data Frames
Tanımladığımız birinci kolon ile ikinci kolon arasındaki ilk 5 veriyi listeleyelim.

In [75]:
data.loc[1:5,'course_title':'course_rating']

,course_title,course_organization,course_Certificate_type,course_rating
1,A Crash Course in Causality: Inferring Causal...,University of Pennsylvania,COURSE,4.7
2,A Crash Course in Data Science,Johns Hopkins University,COURSE,4.5
3,A Law Student's Toolkit,Yale University,COURSE,4.7
4,A Life of Happiness and Fulfillment,Indian School of Business,COURSE,4.8
5,ADHD: Everyday Strategies for Elementary Students,University at Buffalo,COURSE,4.7

İlk 5 veriyi tersten listeleyelim.

In [76]:
data.loc[5:1:-1,'course_title':'course_rating']

,course_title,course_organization,course_Certificate_type,course_rating
5,ADHD: Everyday Strategies for Elementary Students,University at Buffalo,COURSE,4.7
4,A Life of Happiness and Fulfillment,Indian School of Business,COURSE,4.8
3,A Law Student's Toolkit,Yale University,COURSE,4.7
2,A Crash Course in Data Science,Johns Hopkins University,COURSE,4.5
1,A Crash Course in Causality: Inferring Causal...,University of Pennsylvania,COURSE,4.7

Birinci kolondan başlayıp geri kalan bütün kolonları listeleyelim.

In [77]:
data.loc[1:10,'course_rating':]

    course_rating course_difficulty course_students_enrolled
1             4.7      Intermediate                      17k
2             4.5             Mixed                     130k
3             4.7             Mixed                      91k
4             4.8             Mixed                     320k
5             4.7          Beginner                      39k
6             4.8          Beginner                     350k
7             4.8      Intermediate                     2.4k
8             4.7          Beginner                      61k
9             4.7      Intermediate                      12k
10            4.6      Intermediate                       4k

## Filtering Data Frames
Data içerisinde oluşturacağımız filtreye uyan veriyi listeyelim.

In [79]:
data_boolean = data.course_rating > 4.5
data[data_boolean]

,id,course_title,course_organization,course_Certificate_type,course_rating,course_difficulty,course_students_enrolled
0,134,(ISC)² Systems Security Certified Practitioner...,(ISC)²,SPECIALIZATION,4.7,Beginner,5.3k
1,743,A Crash Course in Causality: Inferring Causal...,University of Pennsylvania,COURSE,4.7,Intermediate,17k
3,413,A Law Student's Toolkit,Yale University,COURSE,4.7,Mixed,91k
4,635,A Life of Happiness and Fulfillment,Indian School of Business,COURSE,4.8,Mixed,320k
5,661,ADHD: Everyday Strategies for Elementary Students,University at Buffalo,COURSE,4.7,Beginner,39k
...,...,...,...,...,...,...,...
884,841,Основы разработки на C++: белый пояс,E-Learning Development Fund,COURSE,4.9,Intermediate,41k
885,889,Погружение в Python,Moscow Institute of Physics and Technology,COURSE,4.7,Intermediate,45k
887,883,Психолингвистика (Psycholinguistics),Saint Petersburg State University,COURSE,4.8,Mixed,21k
889,875,Русский как иностранный,Saint Petersburg State University,SPECIALIZATION,4.6,Intermediate,9.8k
890,163,Финансовые инструменты для частного инвестора,National Research University Higher School of ...,SPECIALIZATION,4.7,Beginner,38k

Birden fazla filtre oluşturup data üzerinde kullanalım.

In [82]:
first_filter = data.course_rating>4.5
second_filter = data.course_Certificate_type == 'SPECIALIZATION'
third_filter = data.course_difficulty == 'Beginner'
data[first_filter & second_filter & third_filter].head(10)

,id,course_title,course_organization,course_Certificate_type,course_rating,course_difficulty,course_students_enrolled
0,134,(ISC)² Systems Security Certified Practitioner...,(ISC)²,SPECIALIZATION,4.7,Beginner,5.3k
8,58,AI Foundations for Everyone,IBM,SPECIALIZATION,4.7,Beginner,61k
12,43,AWS Fundamentals,Amazon Web Services,SPECIALIZATION,4.6,Beginner,130k
18,63,Academic English: Writing,"University of California, Irvine",SPECIALIZATION,4.7,Beginner,540k
23,51,Achieving Personal and Professional Success,University of Pennsylvania,SPECIALIZATION,4.7,Beginner,110k
33,75,Agile Development,University of Virginia,SPECIALIZATION,4.7,Beginner,94k
43,151,An Introduction to Programming the Internet of...,"University of California, Irvine",SPECIALIZATION,4.6,Beginner,270k
44,752,Analysing: Numeric and digital literacies,Macquarie University,SPECIALIZATION,4.6,Beginner,7.9k
45,119,Anatomy,University of Michigan,SPECIALIZATION,4.8,Beginner,30k
54,8,Applied Data Science,IBM,SPECIALIZATION,4.6,Beginner,220k

Peki filter sonucu gelen veride sadece belirli bir kolonu çekmek istediğimizde ?

In [87]:
data[first_filter & second_filter & third_filter].course_title.head(10)

0     (ISC)² Systems Security Certified Practitioner...
8                           AI Foundations for Everyone
12                                     AWS Fundamentals
18                            Academic English: Writing
23          Achieving Personal and Professional Success
33                                    Agile Development
43    An Introduction to Programming the Internet of...
44            Analysing: Numeric and digital literacies
45                                              Anatomy
54                                 Applied Data Science
Name: course_title, dtype: object

## Hierarchical Indexing

Burada ise data içerisindeki kolonları kullanarak indexleme işlemini nasıl yapacağımıza bakalım.

In [94]:
data_hierarchical_indexing = data.set_index(['course_rating','course_students_enrolled'])
data_hierarchical_indexing.head(10)

                                         id  \
course_rating course_students_enrolled
4.7           5.3k                      134
              17k                       743
4.5           130k                      874
4.7           91k                       413
4.8           320k                      635
4.7           39k                       661
4.8           350k                       54
              2.4k                      488
4.7           61k                        58
              12k                       129

                                                                             course_title  \
course_rating course_students_enrolled
4.7           5.3k                      (ISC)² Systems Security Certified Practitioner...
              17k                       A Crash Course in Causality:  Inferring Causal...
4.5           130k                                         A Crash Course in Data Science
4.7           91k                                                 A Law Student's Toolkit
4.8           320k                                    A Life of Happiness and Fulfillment
4.7           39k                       ADHD: Everyday Strategies for Elementary Students
4.8           350k                                                        AI For Everyone
              2.4k                                               AI For Medical Treatment
4.7           61k                                             AI Foundations for Everyone
              12k                                                AI for Medical Diagnosis

                                               course_organization  \
course_rating course_students_enrolled
4.7           5.3k                                          (ISC)²
              17k                       University of Pennsylvania
4.5           130k                        Johns Hopkins University
4.7           91k                                  Yale University
4.8           320k                       Indian School of Business
4.7           39k                            University at Buffalo
4.8           350k                                 deeplearning.ai
              2.4k                                 deeplearning.ai
4.7           61k                                              IBM
              12k                                  deeplearning.ai

                                       course_Certificate_type  \
course_rating course_students_enrolled
4.7           5.3k                              SPECIALIZATION
              17k                                       COURSE
4.5           130k                                      COURSE
4.7           91k                                       COURSE
4.8           320k                                      COURSE
4.7           39k                                       COURSE
4.8           350k                                      COURSE
              2.4k                                      COURSE
4.7           61k                               SPECIALIZATION
              12k                                       COURSE

                                       course_difficulty
course_rating course_students_enrolled
4.7           5.3k                              Beginner
              17k                           Intermediate
4.5           130k                                 Mixed
4.7           91k                                  Mixed
4.8           320k                                 Mixed
4.7           39k                               Beginner
4.8           350k                              Beginner
              2.4k                          Intermediate
4.7           61k                               Beginner
              12k                           Intermediate

Çıkan sonuca baktığımızda gördüğümüz gibi önce veriyi 1. index değeri '**course_rating**' e göre gruplandırdı ardından 2. index değeri olan '**course_students_enrolled**' a göre de bir iç gruplandırma yaptı.

## Categoricals and Groupby

In [101]:
data.groupby('course_students_enrolled').course_rating.mean().head(10)

course_students_enrolled
1.3m    4.800000
1.5k    5.000000
1.5m    4.800000
1.6k    4.800000
1.7k    4.733333
1.8k    4.500000
1.9k    4.800000
100k    4.644444
10k     4.683333
110k    4.715000
Name: course_rating, dtype: float64